html {
  scroll-behavior: smooth;
  color: blueviolet;
}

body {
  font-family: Arial, sans-serif;
  background-color: #0c85fe;
}

/* HERO */
.hero {
  min-height: 250vh;
  width: 100%;

  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../img/png-01.jpg');

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Warna teks menu navbar */
.navbar .nav-link {
  color: rgb(191, 6, 6);
}

/* Warna hover */
.navbar .nav-link:hover {
  color: #ffc107; /* kuning */
}

/* Warna logo / brand */
.navbar .navbar-brand {
  color: #1b4e90;
}

/* Hover logo */
.navbar .navbar-brand:hover {
  color: #cd07ff;
}

/* PRODUCT */
.product-card {
  transition: 0.3s;
  color: #2073c6;
  background-color: antiquewhite;
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(172, 7, 7, 0.2);
}

.price {
  font-weight: bold;
  color: #033074;
}

/* CONTACT */
.contact-section {
  background-color: #0c85fe;
  padding: 60px 0;
}

/* FOOTER */
footer {
  background: #1d2034;
  color: rgb(53, 133, 253);
  text-align: center;
  padding: 15px 0;
}
